.jumbotron p {
       font-size: 15px;
}

.jumbotron h1 {
    margin-top: 0;
}

p.navbar-text a {
    text-decoration: none;
}

a.nav-abstract {
    text-decoration: none;
    text-align: center;
}

.wch-title {
    text-transform: uppercase;
    padding-bottom: 5px;
}

.wch-author {
    padding-bottom: 5px;
}

.wch-inst {
    text-align: center;
    padding-bottom: 20px;
}

.wch-bibl {
    margin-top: 10px;
    text-align: right;
    border-top: dashed;
    border-top-width: 1px;
}

.wch-abstr-text {
    padding-top: 10px;
}

ul.list-none {
    padding: 0;
}

ul.list-none li {
    list-style-type:none
}

img.ptch-logo {
    height: 100px;
}

.ptch-address {
    padding-top: 20px;
}

.right-signature {
    text-align:right;
    color: rgb(44, 62, 80);
}

.anniversary {
    background: rgba(240,240,24,0.23);
    background: -moz-linear-gradient(45deg, rgba(240,240,24,0.23) 0%, rgba(240,240,24,0.03) 1%, rgba(240,240,24,0.03) 76%, rgba(250,220,70,0.03) 87%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(240,240,24,0.23)), color-stop(1%, rgba(240,240,24,0.03)), color-stop(76%, rgba(240,240,24,0.03)), color-stop(87%, rgba(250,220,70,0.03)));
    background: -webkit-linear-gradient(45deg, rgba(240,240,24,0.23) 0%, rgba(240,240,24,0.03) 1%, rgba(240,240,24,0.03) 76%, rgba(250,220,70,0.03) 87%);
    background: -o-linear-gradient(45deg, rgba(240,240,24,0.23) 0%, rgba(240,240,24,0.03) 1%, rgba(240,240,24,0.03) 76%, rgba(250,220,70,0.03) 87%);
    background: -ms-linear-gradient(45deg, rgba(240,240,24,0.23) 0%, rgba(240,240,24,0.03) 1%, rgba(240,240,24,0.03) 76%, rgba(250,220,70,0.03) 87%);
    background: linear-gradient(45deg, rgba(240,240,24,0.23) 0%, rgba(240,240,24,0.03) 1%, rgba(240,240,24,0.03) 76%, rgba(250,220,70,0.03) 87%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f018', endColorstr='#fadc46', GradientType=1 );
}

.cover{
    height: 320px;
    width: 211px;
    display: flex;
    margin-right: 5px;
}

nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color: #2c3e50;
    border-color: #18bc9c;
}

.nav>li>a {
    padding-left: 12px;
    padding-right: 12px;
}

.issn {
    display: inline-block;
}

img.baner-all {
    width: 100%;
}
.panel-info#mdt {
    border-color: #4d4d4d;
}

.panel-info#mdt>.panel-heading {
    background-color: #e8e8e8;
    border-color: #e8e8e8;
    color:  #474747;
}

.thumbnail .caption.newRR {
    /*height: 760px;*/
}

a.see-more {
    float: right;
}

.logo-mr {
    margin-top: 12%;
}

.logo-tql {
    width: 75%;
}
.rip-border {
    border: 1px solid #161f29;
}

@media (max-width: 1200px) {
    /*.thumbnail .caption.newRR {*/
        /*height: 900px;*/
    /*}*/
}

@media (max-width: 991px) {
    /*.thumbnail .caption.newRR {*/
        /*height: 1180px;*/
    /*}*/
}

@media (min-width: 768px) {
    .navbar-form {
        width: auto;
        border: 0;
        margin-right: -15px;
        padding-top: 0;
        padding-bottom: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .container {
        margin-bottom: 12px;
    }
    .committee {
    height: 345px;
    }
}

@media (max-width: 767px) {
    .container {
        margin-bottom: 32px;
    }
    /*.thumbnail .caption.newRR {*/
        /*height: 800px;*/
    /*}*/
}

@media (max-width: 378px) {
    .container {
        margin-bottom: 52px;
    }

    .navbar-form {
        margin-left: -15px;
    }
    .thumbnail .caption.newRR {
        height: auto;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .jumbotron p, .jumbotron h1 {
        margin-left: 4%;
    }
}