p.navbar-text a {
    text-decoration: none;
}

a.nav-abstract {
    text-decoration: none;
    text-align: center;
}

.wch-title {
    text-transform: uppercase;
    padding-bottom: 5px;
}

.wch-author {
    padding-bottom: 5px;
}

.wch-inst {
    text-align: center;
    padding-bottom: 20px;
}

.wch-bibl {
    margin-top: 10px;
    text-align: right;
    border-top: dashed;
    border-top-width: 1px;
}

.wch-abstr-text {
    padding-top: 10px;
}

ul.list-none {
    padding: 0;
}

ul.list-none li {
    list-style-type:none
}


footer {
    padding: 30px 15px;
    margin-bottom: 0;
    color: inherit;
    background-color: #e7e7e7;
    border-radius: 6px;
}

small {
    text-align: center;
}

.copyright {
    margin: 20px 0 -10px 0;
}


