p.navbar-text a {
    text-decoration: none;
}

a.nav-abstract {
    text-decoration: none;
    text-align: center;
}

.wch-title {
    text-transform: uppercase;
    text-decoration-style: solid;
    padding-bottom: 5px;
}

.wch-author {
    padding-bottom: 5px;
}

.wch-inst {
    text-align: center;
    padding-bottom: 20px;
}
