<div class="jumbotron">
    <img class="baner-all" src="img/mdt2017.jpg" alt="MDT 2017">
</div>
<div class="panel panel-info" id="mdt">
    <div class="panel-heading">
        <h4>Konferencja Naukowa <b>Młodzi dla Techniki 2017</b> – edycja trzecia</h4>
    </div>
    <div class="panel-body">
        <p><b>Organizator:</b> Politechnika Warszawska Wydział Budownictwa, Mechaniki i Petrochemii w Płocku</p>
        <p><b>Data:</b> 7-8 września 2017 r.</p>
        <p><b>Miejsce:</b> Politechnika Warszawska Filia w Płocku, ul. Łukasiewicza 17, Płock</p>
        <p>Konferencja Młodzi dla Techniki 2017 stanowi integralną część obchodów 50-lecia Filii Politechniki Warszawskiej w Płocku.</p>
        <p>Celem Konferencji jest prezentacja dorobku naukowego młodych pracowników nauki,  doktorantów i studentów. Konferencja dedykowana jest nie tylko początkującym, ale także doświadczonym młodym badaczom, działającym w szerokim obszarze budownictwa i inżynierii lądowej, inżynierii środowiska, inżynierii mechanicznej i materiałowej, jak również inżynierii chemicznej i petrochemicznej.</p>
        <p>Założeniem organizatorów jest stworzenie okazji do wymiany doświadczeń, poglądów, jak również integracji środowiska zainteresowanego współczesnymi problemami techniki.</p>
        <p><b>Tematyka Konferencji Młodzi dla Techniki 2017 obejmuje następujące zagadnienia:</b></p>
        <ul>
            <li><p>konstrukcje budowlane i inżynierskie</p></li>
            <li><p>technologia i organizacja budowy</p></li>
            <li><p>mechanika budowli</p></li>
            <li><p>fizyka budowli</p></li>
            <li><p>ciepłownictwo, ogrzewnictwo, wentylacja, gazownictwo</p></li>
            <li><p>inżynieria wodna i sanitarna</p></li>
            <li><p>konwencjonalne i alternatywne źródła energii</p></li>
            <li><p>technologia chemiczna i petrochemiczna</p></li>
            <li><p>inżynieria mechaniczna i materiałowa</p></li>
            <li><p>urządzenia i systemy mechaniczne</p></li>
            <li><p>budowa maszyn</p></li>
            <li><p>ochrona środowiska</p></li>
        </ul>
        <p><b>Terminarz konferencji</b></p>
        <ul>
            <li><p>1 grudnia 2016 - 31 stycznia 2017: rejestracja, przesłanie abstraktu on-line (wyłącznie po rejestracji)</p></li>
            <li><p>10 lutego 2017: akceptacja abstraktów</p></li>
            <li><p>31 marca 2017: ostateczny termin nadsyłania prac</p></li>
            <li><p>05 maja 2017: ostateczna kwalifikacja referatów</p></li>
            <li><p>15 maja 2017: termin uiszczenia opłaty konferencyjnej</p></li>
            <li><p>7-8 września 2017: KONFERENCJA</p></li>
        </ul>
        <p>Przewodnicząca Komitetu Organizacyjnego - dr inż. Anna Krawczyńska-Piechna</p>
        <p>Przewodniczący Komitetu Naukowego - prof. nzw. dr hab. inż. Roman Marcinkowski </p>
        <p><b>Kontakt:</b> <a href="mailto:mdt2017@pw.plock.pl">mdt2017@pw.plock.pl</a></p>
        <p><b>Więcej informacji na:</b> <a href="https://konferencje.pw.plock.pl/">www.mdt2017.pw.plock.pl</a></p>
    </div>
</div>
