<div class="jumbotron">
    <div class="row">
        <div class="col-sm-8 col-md-9">
            <h1>Wiadomości Chemiczne <br /></h1>
            <p>Redaktor Naczelny: prof. dr hab. Zdzisław Latajka</p>
        </div>
        <div class="col-sm-4 col-md-3">
            <img src="img/wiad_0.jpg" alt="okladka">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption" id="news">
                <h3>Szanowni Państwo</h3>
                <p> Serdecznie zapraszamy do zamieszczania w czasopiśmie „Wiadomości Chemiczne” informacji o wydziałach oraz reklam z ofertami firmy.

                Czasopismo regularnie ukazuje się na polskim rynku od prawie 60-ciu lat i jest dystrybuowane zarówno w wersji drukowanej jak i elektronicznej.
                Odbiorcami pisma są pracownicy naukowi, inżynierowie oraz nauczyciele chemii, fizyki i biologii.
                Pismo prenumerują wszystkie biblioteki wydziałów chemicznych w kraju.
                Tematyka pisma obejmuje bardzo szeroką problematykę chemiczną.

                Zainteresowanych ofertą prosimy o kontakt z redakcją.
                Oferujemy szybki termin realizacji oraz stosunkowo niewysokie ceny.

                Redakcja "Wiadomości Chemicznych"</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h3>PODZIĘKOWANIA</h3>
                <p>Komitet Redakcyjny „Wiadomos´ci Chemicznych” pragnie złożyć słowa podziękowania za okazaną pomoc i wsparcie finansowe w roku 2015:</p>
                <ul>
                    <li>prof. dra hab. inż. Andrzeja Trochimczuka, Dziekana Wydziału Chemicznego Politechniki Wrocławskiej,</li>
                    <li>prof. dra hab. Adama Jezierskiego, Prorektora Uniwersytetu Wrocławskiego,</li>
                    <li>prof. dra hab. Andrzeja Jeżowskiego, Dyrektora Instytutu Niskich Temperatur i Badań Strukturalnych PAN we Wrocławiu,</li>
                    <li>prof. dra hab. Pawła Kuleszy, Dzekana Wydziału Chemiii Uniwersytetu Warszawskiego,</li>
                    <li>prof. dra hab. Anny Trzeciak, Dziekan Wydzialu Chemii Uniwersytetu Wrocławskiego.</li>
                </ul>
                <p>Jednocześnie apeluję do Dziekanów wydziałów chemicznych wyższych uczelni oraz
                Kierowników innych jednostek chemicznych o wsparcie finansowe naszego czasopisma.</p>
                <i>prof. dr hab. Zdzisław Latajka</br>
                Redaktor Naczelny
                </i>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h3>OGŁOSZENIE</h3>
                <p>Redakcja „Wiadomości Chemicznych” w porozumieniu z Radą Redakcyjną podjęła decyzję o utworzeniu nowego działu, zatytułowanego „Wyróżnione prace doktorskie i habilitacyjne”.

                Redakcja przyjmuje do publikacje artykuły oparte na pracach doktorskich lub habilitacyjnych, które zostały wyróżnione przez Rady Wydziałów, przed którymi toczyły się odpowiednie procesy.
                Objętość prac nie powinna przekraczać piętnastu stron maszynopisu. Artykuły powinny zawierać: przedstawienie doniosłości podjętej tematyki badawczej, cel rozprawy doktorskiej lub habilitacyjnej oraz w miarę zwięzły opis uzyskanych wyników przedstawiony w możliwie przystępny sposób a także wnioski końcowe.
                Redakcja "Wiadomości Chemicznych"</p>
            </div>
        </div>
    </div>
</div>
