<div class="jumbotron">
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <img class="cover" src="img/wiad_0.jpg" alt="okladka">
            <small class="issn">ISSN 0043-5104</small> <small class="issn">eISSN 2300-0295</small>
        </div>
        <div class="col-sm-8 col-md-9">
            <h1>Wiadomości Chemiczne <br /></h1>
            <p><b>Redaktor Naczelny: prof.&nbsp;dr&nbsp;hab. Zdzisław&nbsp;Latajka</b></p>
            <p>
                Czasopismo naukowe w&nbsp;którym publikowane są prace przeglądowe, prace popularyzujące oraz prace informujące o aktualnych trendach i wybitnych osiągnięciach z&nbsp;zakresu nauk chemicznych. Od początku istnienia tj. od styczniu 1947 roku, wydawane jest pod auspicjami Polskiego Towarzystwa Chemicznego, a&nbsp;od przeszło sześćdziesięciu lat (1951) redagowane we Wrocławiu, gdzie mieści się siedziba Redakcji. Na rynku wydawniczym posiada ustaloną długoletnia renomę i&nbsp;jest unikatowym obowiązującym czasopismem polskojęzycznym, w&nbsp;którym poruszane są kwestie nomenklatury w&nbsp;języku ojczystym –  w&nbsp;tej materii Wiadomości Chemiczne są unikatowym czasopismem.
            </p>
            <p>
                Wiadomości Chemiczne są indeksowane/abstraktowane w&nbsp;następujących bazach danych: BazTech, CAS, IC. Czasopismo znajduje się na liście czasopism punktowanych przez Ministerstwo Nauki i&nbsp;Szkolnictwa Wyższego – informacje na temat czasopisma są również zamieszczone w&nbsp;portalu Polskiej Bibliografii Naukowej.
            </p>
        </div>

    </div>
</div>
<!--<div class="row">-->
    <!--<div class="col-xs-12 col-sm-2 col-md-2">-->
    <!--</div>-->
    <!--<div class="col-xs-12 col-sm-8 col-md-8">-->
        <!--<div class="thumbnail">-->
            <!--<div class="panel-body">-->
                <!--<img class="baner-all" src="img/jajo.jpg" alt="Życzenia">-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="col-xs-12 col-sm-2 col-md-2">-->
    <!--</div>-->
<!--</div>-->
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2">
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8">
        <div class="thumbnail">
            <div class="panel-body anniversary">
                <h3 class="text-center"> 70-lecie „Wiadomości Chemicznych”</h3>
                <p>Rok 2017 jest niezwykle ważny dla naszego czasopisma. Pierwszy zeszyt „Wiadomości Chemicznych” ukazał się 8 lutego 1947 roku, jako czasopismo naukowe Studenckich Kół Naukowych. Od 1950 roku jest czasopismem Polskiego Towarzystwa Chemicznego. Oznacza to, że w 2017 roku „Wiadomości Chemiczne” obchodzą jubileusz 70-lecia.</p>
                <p>Z tej okazji chcemy wydać specjalny, jubileuszowy zeszyt naszego czasopisma. Dlatego zwracam się do naszych czytelników, sympatyków, przyjaciół o przesyłanie na nasz adres wspomnień oraz zdjęć związanych z historią czasopisma. Preferujemy wersje elektroniczne, ale będziemy również wdzięczni za przesłanie wersji papierowych, które po przeniesieniu na nośniki elektroniczne zostaną odesłane Autorom.</p>
                <div class="right-signature"><i>prof. dr hab. Zdzisław Latajka<br />
                    Redaktor Naczelny</i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2">
    </div>
</div>
<!--<div class="thumbnail">-->
    <!--<div class="panel-body">-->
        <!--<p>-->
            <!--<b>Wiadomości Chemiczne</b> to czasopismo naukowe w&nbsp;którym publikowane są prace przeglądowe, prace popularyzujące oraz prace informujące o aktualnych trendach i wybitnych osiągnięciach z&nbsp;zakresu nauk chemicznych. Od początku istnienia tj. od styczniu 1947 roku, wydawane jest pod auspicjami Polskiego Towarzystwa Chemicznego, a&nbsp;od przeszło sześćdziesięciu lat (1951) redagowane we Wrocławiu, gdzie mieści się siedziba Redakcji. Na rynku wydawniczym posiada ustaloną długoletnia renomę i&nbsp;jest unikatowym obowiązującym czasopismem polskojęzycznym, w&nbsp;którym poruszane są kwestie nomenklatury w&nbsp;języku ojczystym –  w&nbsp;tej materii Wiadomości Chemiczne są unikatowym czasopismem.-->
        <!--</p>-->
        <!--<p>-->
            <!--Wiadomości Chemiczne są indeksowane/abstraktowane w&nbsp;następujących bazach danych: BazTech, CAS, IC. Czasopismo znajduje się na liście czasopism punktowanych przez Ministerstwo Nauki i&nbsp;Szkolnictwa Wyższego – informacje na temat czasopisma są również zamieszczone w&nbsp;portalu Polskiej Bibliografii Naukowej.-->
        <!--</p>-->
    <!--</div>-->
<!--</div>-->
<div class="thumbnail">
    <div class="panel-body">
        <a href="http://wiad.chem.uni.wroc.pl/patronage/PTChem-plakat.pdf" target="_blank"><img class="baner-all" src="img/PTChem.jpg" alt="Zjazd PTChem 2017"></a>
    </div>
</div>
<div class="thumbnail">
    <div class="panel-body">
        <a href="/mdt"><img class="baner-all" src="img/mdt2017.jpg" alt="MDT 2017"></a>
    </div>
</div>
<div class="thumbnail">
    <div class="panel-body">
        <a href="http://wiad.chem.uni.wroc.pl/patronage/OgolnopolskaSzkolaChemii.pdf" target="_blank"><img class="baner-all" src="img/szkolaChemii.jpg" alt="XLVI OgólnopolskA SzkoŁA Chemii"></a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="thumbnail">
            <div class="caption newRR">
                <h3>Patronat medialny</h3>
                <p>"Wiadomości Chemiczne” objęły patronatem medialnym ostatnie publikacje książkowe Wydawnictwa Naukowego PWN&nbsp;SA, które mogą być niezwykle interesujące i&nbsp;przydatne dla społeczności polskich chemików:</p>
                <ul>
                    <li>Wiktor Kubiński "Wybrane metody badania materiałów. Badanie metali i stopów."</li>
                    <li>Praca zbiorowa pod redakcją Kamilli Małek "Spektroskopia oscylacyjna. Od teorii do praktyki."</li>
                    <li>Zdzisław Migaszewski, Agnieszka Gałuszka "Geochemia środowiska"</li>
                    <li>Robert J. Whitehurst, Marten Van Oort "Enzymy w technologii spożywczej"</li>
                    <li>Jan F. Rabek "Współczesna wiedza o polimerach. Tom 1. Budowa strukturalna polimerów i metody badawcze."</li>
                    <li>Jan F. Rabek "Współczesna wiedza o polimerach. Tom 2. Polimery naturalne i syntetyczne, otrzymywanie i zastosowania."</li>
                    <li>Praca zbiorowa pod redakcją Anny Swiderskiej-Środy, Witolda Wojkowskiego, Małgorzaty Lewandowskie i Krzysztofa J. Kurzydłowskiego "Świat nanocząstek"</li>
                    <li>Praca zbiorowa pod redakcją Kamili Żelechowskiej "Nanotechnologia w praktyce"</li>
                </ul>
                <p>W najbliższych numerach czasopisma ukażą się recenzje wyżej wspomnianych książek.</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="thumbnail">
            <div class="caption newRR">
                <h3>Nowi członkowie Rady Redakcyjnej</h3>
                <p>Z olbrzymią przyjemnością informuję, że decyzją Przewodniczącego prof. dr hab. Bogusława Buszewskiego skład Rady Redakcyjnej "Wiadomości Chemicznych" został poszerzony o następujących uczonych:</p>
                <ul>
                    <li>prof. Tadeusz Gorecki,<br />Departament of Chemistry, University of Waterloo, Waterloo, Ontario, Kanada</li>
                    <li>prof. Mietek Jaroniec,<br />Departament of Chemistry and Biochemistry, Kent State University, Kent, OH 44242, USA</li>
                    <li>prof. dr hab. Jerzy Leszczynski, <br />Interdysciplinary Center for Nanotoxity, Department of Chemistry and Biochemistry, Jackson State University, Jackson, USA </li>
                    <li>prof. Krzysztof Matyjaszewski,<br />Center for Macromolecular Engineering, Department of Chemistry, Carnegie Mellon University, Pittsburgh, PA 15213, USA</li>
                    <li>prof. dr hab. Janusz Pawliszyn, <br />Department of Chemistry, University of Waterloo, Waterloo, Ontario, Kanada</li>
                    <li>prof. Sławomir Rubinsztajn,<br />General Electric Global Research, Kiskuyua, NY 12309, USA</li>
                </ul>
                <p>W imieniu Komitetu Redakcyjnego Panom Profesorom życzę owocnej pracy na rzecz naszego czasopisma.</p>
                <div class="right-signature"><i>prof. dr hab. Zdzisław Latajka<br />
                    Redaktor Naczelny</i>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="row">-->
    <!--<div class="col-xs-12 col-sm-6 col-md-6">-->
        <!--<div class="thumbnail">-->
            <!--<div class="caption">-->
                <!--<h3>Szanowni Państwo</h3>-->
                <!--<p> Serdecznie zapraszamy do zamieszczania w&nbsp;czasopiśmie "Wiadomości Chemiczne" informacji o&nbsp;wydziałach oraz reklam z&nbsp;ofertami firmy.-->

                <!--Czasopismo regularnie ukazuje się na polskim rynku od prawie 60-ciu lat i&nbsp;jest dystrybuowane zarówno w&nbsp;wersji drukowanej jak i&nbsp;elektronicznej.-->
                <!--Odbiorcami pisma są pracownicy naukowi, inżynierowie oraz nauczyciele chemii, fizyki i&nbsp;biologii.-->
                <!--Pismo prenumerują wszystkie biblioteki wydziałów chemicznych w&nbsp;kraju.-->
                <!--Tematyka pisma obejmuje bardzo szeroką problematykę chemiczną.-->

                <!--Zainteresowanych ofertą prosimy o&nbsp;kontakt z&nbsp;redakcją.-->
                <!--Oferujemy szybki termin realizacji oraz stosunkowo niewysokie ceny.-->

                <!--Redakcja "Wiadomości Chemicznych"</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="col-xs-12 col-sm-6 col-md-6">-->
        <!--<div class="thumbnail">-->
            <!--<div class="caption">-->
                <!--<h3>OGŁOSZENIE</h3>-->
                <!--<p>Redakcja "Wiadomości Chemicznych" w&nbsp;porozumieniu z&nbsp;Radą Redakcyjną podjęła decyzję o&nbsp;utworzeniu nowego działu, zatytułowanego "Wyróżnione prace doktorskie i&nbsp;habilitacyjne".-->

                <!--Redakcja przyjmuje do publikacji artykuły oparte na pracach doktorskich lub habilitacyjnych, które zostały wyróżnione przez Rady Wydziałów, przed którymi toczyły się odpowiednie procesy.-->
                <!--Objętość prac nie powinna przekraczać piętnastu stron maszynopisu. Artykuły powinny zawierać: przedstawienie doniosłości podjętej tematyki badawczej, cel rozprawy doktorskiej lub habilitacyjnej oraz w&nbsp;miarę zwięzły opis uzyskanych wyników przedstawiony w&nbsp;możliwie przystępny sposób a&nbsp;także wnioski końcowe.-->
                <!--Redakcja "Wiadomości Chemicznych"</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
