<div class="panel panel-info">
    <div class="panel-heading">
        <h4>Informacje dotyczące procedur obowiązujących w czasopiśmie</h4>
    </div>
    <div class="panel-body">
        <div>
            <p>
                Selekcja prac nadesłanych do Wiadomości Chemicznych jest dwustopniowa. Wszystkie artykuły są poddane wstępnej ocenie dokonanej przez Komitet Redakcyjny polegającej na określeniu czy są spełnione wymogi formalne do publikacji w czasopiśmie. Prace, które zostały zaakceptowane na pierwszym etapie, są przesłane do co najmniej dwóch lub trzech niezależnych recenzentów zgodnie z wytycznymi Ministerstwa Nauki i Szkolnictwa Wyższego. Artykuły posiadają obszerne streszczenie w języku angielskim oraz dwujęzyczne podpisy pod rysunkami, schematami i tabelami.
            </p>
        </div>
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <h4>Autorzy oraz publikacje</h4>
    </div>
    <div class="panel-body">
        <p>
            Do publikacji przyjmowane są przede wszystkim prace przeglądowe oraz artykuły oparte na wyróżnionych pracach doktorskich lub habilitacyjnych a także artykuły dotyczące popularyzacji chemii, prace z zakresu chemii stosowanej jak i prace z zakresu historii chemii.
        </p>
        <p>
            Publikowane artykuły adresowane są do szerokiego grona czytelników: naukowców, nauczycieli chemii, studentów wyższych uczelni, uczniów szkół średnich, jak również pracowników przemysłowych instytucji badawczych i przemysłu chemicznego.
        </p>
        <p>
            Wiadomości Chemiczne stanowią platformę kształtowania i upowszechniania nomenklatury i terminologii chemicznej w języku polskim.
        </p>
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <h4>Proces wydawniczy i udostępnianie czasopisma</h4>
    </div>
    <div class="panel-body">
        <p><b>
            Czytelnicy Wiadomości Chemicznych mają bezpłatny dostęp do pełnych tekstów artykułów w wersji elektronicznej,</b> zarówno do bieżących jak i do starszych historycznych zeszytów.
        </p>
        <p>
            Kompletna zawartość zeszytów Wiadomości Chemicznych udostępniana jest bezpłatnie poprzez stronę Dolnośląskiej Biblioteki Cyfrowej oraz wszystkie bieżące publikacje są udostępniane w tzw. ruchu Open Access (OA).
        </p>
    </div>
</div>
