<div class="panel panel-info">
    <div class="panel-heading">
        <h4>Lista recenzentów współpracujacych z&nbsp;redakcją „WIADOMOŚCI CHEMICZNYCH” w&nbsp;latach 2015-17</h4>
    </div>
    <div class="panel-body">
        <ul class="list-none">
            <li><p><b>prof. dr hab. Grażyna Bator</b></br>
            Wydział Chemii, Uniwersytet Wrocławski</p></p></li>

            <li><p><b>prof. dr hab. inż. Barbara Becker</b></br>
            Politechnika Gdańska, Wydział Chemiczny</p></li>

            <li><p><b>dr n. farm. Barbara Bednarczyk-Cwynar</b></br>
            Zakład Chemii Organicznej UM&nbsp;w&nbsp;Poznaniu</p></li>

            <li><p><b>prof. zw. dr hab. inż. Stanisław Błażewicz</b></br>
            Akademia Górniczo-Hutnicza im.&nbsp;Stanisława Staszica w&nbsp;Krakowie; Wydział Inżynierii Materiałowej i&nbsp;Ceramiki; Katedra Biomateriałów</p></li>

            <li><p><b>prof. dr hab. Stanisław Boryczka</b></br>
            Śląski Uniwersytet Medyczny, Wydział Farmaceutyczny z&nbsp;Oddziałem Medycyny Laboratoryjnej w&nbsp;Sosnowcu, Katedra i&nbsp;Zakład Chemii Organicznej</p></li>

            <li><p><b>prof. dr hab. Andrzej Bojarski</b></br>
            Instytut Farmakologii Polskiej Akademii Nauk</p></li>

            <li><p><b>prof. dr hab.  Ewa  Joanna  Bulska </b></br>
            Uniwersytet Warszawski; Wydział Chemii</p></li>

            <li><p><b>prof. zw. dr hab. inż. Bogdan Burczyk</b></br>
            Politechnika Wrocławska; Wydział Chemiczny; Wydziałowy Zakład Technologii Organicznej i&nbsp;Farmaceutycznej</p></li>

            <li><p><b>prof. zw. dr hab. Bogusław Buszewski</b></br>
            Wydział Chemii UMK, Katedra Chemii Środowiska i&nbsp;Bioanalityki</p></li>

            <li><p><b>dr hab. Michał Bystrzejewski</b></br>
            Uniwersytet Warszawski, Wydział Chemiii</p></li>

            <li><p><b>dr Marek Cebrat</b></br>
            Uniwersytet Wrocławski, Wydział Chemii</p></li>

            <li><p><b>dr hab. Lech Celewicz</b></br>
            Uniwersytet A. Mickiewicza Wydział Chemii Pracownia Chemii Nukleozydów i&nbsp;Nukleotydów</p></li>

            <li><p><b>prof. dr hab. Adam Choma</b></br>
            Uniwersytet Marii Curie-Skłodowskiej w&nbsp;Lublinie, Zakład Genetyki i&nbsp;Mikrobiologii</p></li>

            <li><p><b>prof. dr hab. Jerzy Choma</b></br>
            Wydział Nowych Technologii i&nbsp;Chemii, Wojskowa Akademia Techniczna</p></li>

            <li><p><b>prof. dr hab. Mirosław Czarnecki</b></br>
            Wydział Chemii Uniwersytet Wrocławski</p></li>

            <li><p><b>prof. dr hab. Leszek Ciunik</b></br>
            Wydział Chemii, Uniwersytet Wrocławski</p></li>

            <li><p><b>prof. dr hab. Marek Cegła</b></br>
            Uniwersytet Jagielloński; Collegium Medicum; Wydział Farmaceutyczny; Katedra Chemii Organicznej</p></li>

            <li><p><b>prof. dr hab. Cieślak-Golonka</b></br>
            Wydział Chemiczny, Politechnika Wrocławska</p></li>

            <li><p><b>prof. dr hab. Witold Danikiewicz</b></br>
            Instytut Chemii Organicznej Polskiej Akademii Nauk</p></li>

            <li><p><b>dr hab. inż. Barbara Dębska</b></br>
            Politechnika Łódzka; Wydział Chemiczny</p></li>

            <li><p><b>prof. dr hab. Jacek Dramiński</b></br>
            Wyższa Szkoła Nauk o&nbsp;Zdrowiu w&nbsp;Bydgoszczy</p></li>

            <li><p><b>prof. dr hab. Andrzej Dżugaj </b></br>
            Uniwersytet Wrocławski; Wydział Nauk Biologicznych; Instytut Genetyki i&nbsp;Mikrobiologii</p></li>

            <li><p><b>prof. dr hab. Michał Fedoryński</b></br>
            Politechnika Warszawska; Wydział Chemiczny; Instytut Biotechnologii </p></li>

            <li><p><b>prof. dr hab. Rafał Frański </b></br>
            Uniwersytet im. Adama Mickiewicza w&nbsp;Poznaniu; Wydział Chemii</p></li>

            <li><p><b>prof. dr hab. Andrzej Gamian</b></br>
            Uniwersytet Medyczny im. Piastów Śląskich we Wrocławiu; Wydział Lekarski; Katedra i&nbsp;Zakład Biochemii Lekarskiej</p></li>

            <li><p><b>prof. dr hab. inż. Elżbieta Grabińska-Sota</b></br>
            Politechnika Śląska, Wydział Inżynierii Środowiska i Energetyki, Katedra Biotechnologii Środowiskowej</p></li>

            <li><p><b>prof. dr hab. Jolanta Gromadzińska</b></br>
            Instytut Medycyny Pracy im. Prof. J. Nofera, Zakład Toksykologii i&nbsp;Kancerogenezy</p></li>

            <li><p><b>prof. Karol Lesław Grela</b></br>
            Instytut Polskiej Akademii Nauk</p></li>

            <li><p><b>Katarzyna Gobis </b></br>
            Gdański Uniwersytet Medyczny; Wydział Farmaceutyczny z&nbsp;Oddziałem Medycyny Laboratoryjnej; Katedra i&nbsp;Zakład Chemii Organicznej</p></li>

            <li><p><b>prof. dr hab. Roman Gancarz</b></br>
            Politechnika Wrocławska; Wydział Chemiczny; Wydziałowy Zakład Technologii Organicznej i Farmaceutycznej</p></li>

            <li><p><b>prof. zw. dr hab. Jacek Gliński</b></br>
            Uniwersytet Wrocławski; Wydział Chemii</p></li>

            <li><p><b>dr hab. Ryszard Gryglewski</b></br>
            Uniwersytet Jagielloński; Collegium Medicum; Wydział Lekarski; Katedra Historii Medycyny</p></li>

            <li><p><b>prof. dr hab. Teresa Grzybek</b></br>
            Akademia Górniczo-Hutnicza im. Stanisława Staszica w&nbsp;Krakowie; Wydział Energetyki i Paliw</p></li>

            <li><p><b>prof. dr hab. Maria Grzeszczyk</b></br>
            Uniwersytet Wrocławski, Wydział Chemii</p></li>

            <li><p><b>prof. dr hab. Jerzy Hawranek</b></br>
            Uniwersytet Wrocławski, Wydział Chemii</p></li>

            <li><p><b>dr inż. Jolanta Iłowska</b></br>
            Instytut Ciężkiej Syntezy Organicznej „Blachownia" Zakład Środków Specjalistycznych</p></li>

            <li><p><b>prof. dr hab. Stanisław Leśniak</b></br>
                Uniwersytet Łódzki; Wydział Chemii, Katedra Chemii Organicznej i&nbsp;Stosowanej</p></li>

            <li><p><b>prof. dr hab. Beata Liberek</b></br>
                Uniwersytet Gdański; Wydział Chemii; Katedra Chemii Organicznej</p></li>

            <li><p><b>prof.dr.hab. Marian Jaskuła</b></br>
                Uniwersytet Jagielloński; Wydział Chemii; Zakład Chemii Fizycznej i Elektrochemii</p></li>

            <li><p><b>prof. dr hab. Bronisław Jańczuk</b></br>
            Katedra Chemii Fizycznej, Wydział Chemii, Uniwersytet Marii Curie-Skłodowskiej w Lublinie</p></li>

            <li><p><b>dr hab. inż. Andrzej Kaim</b></br>
                Wydział Chemii Uniwersytet Warszawski</p></li>

            <li><p><b>prof. dr hab. Roman Kaliszan</b></br>
                Gdański Uniwersytet Medyczny</p></li>

            <li><p><b>prof. dr hab. Zygmunt Kowalski</b></br>
                Instytut Chemii i Technologii Nieorganicznej, Politechnika Krakowska</p></li>

            <li><p><b>prof. dr hab. n. med. Adam Klimowicz</b></br>
                Pomorski Uniwersytet Medyczny w Szczecinie, Katedra i Zakład Chemii Kosmetycznej i Farmaceutycznej</p></li>

            <li><p><b>prof. dr n. przyr. Marian Kruzel</b></br>
                University of Texas Health Science Center at Houston Department of Integrative Biology and Pharmacology</p></li>

            <li><p><b>prof. dr hab. Leszek Kępiński</b></br>
                Instytut Niskich Temperatur i Badań Strukturalnych Polskiej Akademii Nauk</p></li>

            <li><p><b>dr hab. Karol Kacprzak</b></br>
                Uniwersytet im. Adama Mickiewicza w Poznaniu; Wydział Chemii; Pracownia Stereochemii Organicznej</p></li>

            <li><p><b>dr hab. Inż. Janina Kabatc</b></br>
                Uniwersytet Technologiczno-Przyrodniczy im. Jana i Jędrzeja Śniadeckich w Bydgoszczy; Wydział Technologii i Inżynierii</p></li>

            <li><p><b>prof. zw. dr hab. inż. Paweł Kazimierz Kafarski</b></br>
                Politechnika Wrocławska, Wydział Chemiczny</p></li>

            <li><p><b>prof. dr hab. Bogusław Kryczka</b></br>
                Uniwersytet Łódzki; Wydział Chemii; Katedra Chemii Organicznej i Stosowanej</p></li>

            <li><p><b>prof. dr hab.  Paweł  Grzegorz  Krysiński </b></br>
                Uniwersytet Warszawski; Wydział Chemii</p></li>

            <li><p><b>prof. dr hab.  Aleksandra  Kubicz </b></br>
                Uniwersytet Wrocławski; Wydział Nauk Przyrodniczych; Instytut Biochemii i&nbsp;Biologii Molekularnej</p></li>

            <li><p><b>prof. dr hab. Leszek Kępiński</b></br>
                Instytut Niskich Temperatur i Badań Strukturalnych PAN</p></li>

            <li><p><b>prof. dr hab. Aleksander Koll</b></br>
                Wydział Chemii, Uniwersytet Wrocławski</p></li>

            <li><p><b>dr hab. inż. Aleksandra Kołodziejczyk</b></br>
                Uniwersytet Gdański, Wydział Chemii, Katedra Chemii Medycznej</p></li>

            <li><p><b>prof. dr hab. inż. Aleksander Kołodziejczyk</b></br>
                Politechnika Gdańska; Wydział Chemiczny; Katedra Chemii Organicznej</p></li>

            <li><p><b>prof. dr hab. Teresa Kowalik-Jankowska</b></br>
            Uniwersytet Wrocławski; Wydział Chemii</p></li>

            <li><p><b>prof. dr hab. Adam Kraszewski</b></br>
            Instytut Chemii Bioorganicznej Polskiej Akademii Nauk</p></li>

            <li><p><b>dr hab. Marek Krzemiński</b></br>
                Uniwersytet Mikołaja Kopernika; Wydział Chemii</p></li>

            <li><p><b>dr hab. Anna Łukaszewicz-Hussain</b></br>
                Akademia Medyczna w Białymstoku; Wydział Lekarski z Oddziałem Stomatologicznym</p></li>

            <li><p><b>prof. dr. hab. Wojciech T. Markiewicz</b></br>
                Instytut Chemii Bioorganicznej Polskiej Akademii Nauk</p></li>

            <li><p><b>prof. dr hab. Wojciech Macyk</b></br>
                Uniwersytet Jagielloński; Wydział Chemii; Zakład Chemii Nieorganicznej</p></li>

            <li><p><b>dr inż. Sylwia Magiera</b></br>
                Politechnika Śląska, Wydział Chemiczny</p></li>

            <li><p><b>prof. dr hab. Wojciech T. Markiewicz</b></br>
                Instytut Chemii Bioorganiczne Polskiej Akademii Nauk</p></li>

            <li><p><b>dr hab. Agnieszka Markowska</b></br>
                Zakład Chemii Organicznej, Uniwersytet Medyczny w Białymstoku</p></li>

            <li><p><b>dr hab. inż. Katarzyna Materna</b></br>
                Politechnika Poznańska, Instytut Technologii i Inżynierii Chemicznej</p></li>

            <li><p><b>dr hab. Jan Milecki</b></br>
            Uniwersytet im. Adama Mickiewicza w&nbsp;Poznaniu; Wydział Chemii</p></li>

            <li><p><b>prof. dr hab. inż. Jacek Młochowski</b></br>
            Politechnika Wrocławska; Wydział Chemiczny</p></li>

            <li><p><b>prof. dr hab. Jacek Młynarski</b></br>
            Uniwersytet Jagielloński, Wydział Chemii</p></li>

            <li><p><b>prof. dr hab. n. farm. Hanna Mojska</b></br>
                Instytut Żywności i Żywienia im. prof. dra med. Aleksandra Szczygła</p></li>

            <li><p><b>prof. dr hab. Jacek Namiesnik</b></br>
                Politechnika Gdańska; Wydział Chemiczny; Katedra Chemii Analitycznej</p></li>

            <li><p><b>dr hab. Agnieszka Nosal-Wiercińska</b></br>
                Uniwersytet Marii Curie-Skłodowskiej w Lublinie; Wydział Chemii</p></li>

            <li><p><b>dr inż. Joanna Ortyl</b></br>
            Politechnika Krakowska im. Tadeusza Kościuszki; Wydział Inżynierii i&nbsp;Technologii Chemicznej; Katedra Biotechnologii i&nbsp;Chemii Fizycznej</p></li>

            <li><p><b>prof. dr hab. Kazimierz Orzechowski</b></br>
            Uniwersytet Wrocławski, Wydział Chemii</p></li>

            <li><p><b>prof. dr hab. inż. Ryszard Józef Ostaszewski </b></br>
            Instytut Chemii Organicznej Polskiej Akademii Nauk</p></li>

            <li><p><b>dr hab. Stanisław Porwański</b></br>
                Uniwersytet Wrocławski, Wydział Chemii</p></li>

            <li><p><b>dr. hab. Piotr Przybylski</b></br>
                Uniwersytet Adama Mickiewicza, Wydział Chemii</p></li>

            <li><p><b>prof. dr hab. Sylwia Rodziewicz – Motowidło</b></br>
                Wydział Chemii, Uniwersytet Gdański</p></li>

            <li><p><b>dr hab. Sławomir Szafert</b></br>
                Wydział Chemii, Uniwersytet Wrocławski</p></li>

            <li><p><b>prof. dr hab. Sławomira Skrzypek</b></br>
                Uniwersytet Łódzki; Wydział Chemii; Katedra Chemii Nieorganicznej i Analitycznej</p></li>

            <li><p><b>prof. dr hab. Jarosław Sławiński</b></br>
                Gdański Uniwersytet Medyczny; Wydział Farmaceutyczny z Oddziałem Medycyny Laboratoryjnej; Katedra i Zakład Chemii Organicznej</p></li>

            <li><p><b>prof. dr hab. Elżbieta Sochacka</b></br>
                Instytut Chemii Organicznej, Wydział Chemiczny, Politechnika Łódzka</p></li>

            <li><p><b>prof. dr hab. Grzegorz Schroeder</b></br>
            Uniwersytet im. Adama Mickiewicza; Wydział Chemii; Zakład Chemii Supramolekularnej</p></li>

            <li><p><b>dr hab. inż.  Renata  Siedlecka </b></br>
            Politechnika Wrocławska; Wydział Chemiczny; Zakład Chemii Organicznej</p></li>

            <li><p><b>prof. dr hab. Wiesława Sikora</b></br>
            Katedra Fizyki Materii Skondensowanej, Wydział Fizyki i&nbsp;Informatyki Stosowanej AGH</p></li>

            <li><p><b>prof. dr hab. Jerzy Silberring</b></br>
            Akademia Górniczo-Hutnicza im. Stanisława Staszica w&nbsp;Krakowie; Wydział Inżynierii Materiałowej i&nbsp;Ceramiki; Katedra Biochemii i&nbsp;Neurobiologii</p></li>

            <li><p><b>prof. dr hab.  Katarzyna  Marta  Stadnicka</b></br>
            Uniwersytet Jagielloński; Wydział Chemii; Zakład Krystalochemii i&nbsp;Krystalofizyki</p></li>

            <li><p><b>prof. dr hab.  Janusz  Wojciech  Stafiej </b></br>
            Instytut Chemii Fizycznej PAN</p></li>

            <li><p><b>prof. dr hab.  Jacek  Antoni  Stawiński </b></br>
            Instytut Chemii Bioorganicznej PAN</p></li>

            <li><p><b>dr hab. Piotr Tadeusz Stefanowicz</b></br>
            Uniwersytet Wrocławski; Wydział Chemii</p></li>

            <li><p><b>prof. dr hab.  Maciej  Stobiecki </b></br>
            Instytut Chemii Bioorganicznej PAN</p></li>

            <li><p><b>prof. dr hab. inż. Jacek Mikołaj Skarżewski</b></br>
                Politechnika Wrocławska; Wydział Chemiczny; Wydziałowy Zakład Chemii Organicznej</p></li>

            <li><p><b>prof. dr hab. inż. Wincenty Antoni Skupiński</b></br>
                Politechnika Warszawska; Wydział Chemiczny; Zakład Materiałów Wysokoenergetycznych</p></li>

            <li><p><b>dr hab. Krzysztof Sobczak</b></br>
                Uniwersytet im. Adama Mickiewicza w Poznaniu; Wydział Biologii; Instytut Biologii Molekularnej i Biotechnologi</p></li>

            <li><p><b>prof. dr hab. Jadwiga Sołoducho</b></br>
                Politechnika Wrocławska; Wydział Chemiczny; Wydziałowy Zakład Chemii Medycznej i Mikrobiologii</p></li>

            <li><p><b>prof. dr hab. Stanisław Kazimierz Sobiak</b></br>
                Uniwersytet Medyczny im. Karola Marcinkowskiego w Poznaniu; Wydział Farmaceutyczny; Katedra i Zakład Technologii Chemicznej Środków Leczniczych</p></li>

            <li><p><b>prof. dr hab. inż. Elżbieta Sochacka</b></br>
                Politechnika Łódzka; Wydział Chemiczny; Instytut Chemii Organicznej</p></li>

            <li><p><b>prof. dr hab. Mirosław Soszyński</b></br>
                Uniwersytet Łódzki; Wydział Biologii i Ochrony Środowiska; Katedra Biofizyki Molekularnej</p></li>

            <li><p><b>dr hab. inż. Anna Sokół-Łętowska</b></br>
                Uniwersytet Przyrodniczy we Wrocławiu, Katedra Technologii Owoców, Warzyw i Zbóż</p></li>

            <li><p><b>prof. dr hab. Marek Tkacz</b></br>
                Instytut Chemii Fizycznej PAN, Zakład Fizykochemii Ciała Stałego</p></li>

            <li><p><b>prof. dr hab. Vinh Hung Tran</b></br>
                Polska Akademia Nauk, Instytut Niskich Temperatur i&nbsp;Badań Strukturalnych</p></li>

            <li><p><b>prof. zw. dr hab. inż. Janusz Tadeusz Trawczyński</b></br>
                Politechnika Wrocławska; Wydział Chemiczny; Zakład Chemii i&nbsp;Technologii Paliw</p></li>

            <li><p><b>prof. zw. dr hab. inż. Andrzej Witold Trochimczuk</b></br>
                Politechnika Wrocławska, Wydział Chemiczny, Wydziałowy Zakład Materiałów Polimerowych i&nbsp;Węglowych</p></li>

            <li><p><b>dr hab. Lilianna Trynda-Lemiesz </b></br>
                Akademia Medyczna im. Piastów Śląskich; Wydział Farmaceutyczny z&nbsp;Oddziałem Analityki Medycznej; Katedra i&nbsp;Zakład Chemii Analitycznej</p></li>

            <li><p><b>prof. zw. dr hab. Anna Maria Trzeciak</b></br>
                Uniwersytet Wrocławski; Wydział Chemii</p></li>

            <li><p><b>dr hab.  Przemysław Starynowicz</b></br>
                Uniwersytet Wrocławski; Wydział Chemii</p></li>

            <li><p><b>prof. zw. dr hab. Zbigniew Szewczuk </b></br>
                Uniwersytet Wrocławski; Wydział Chemii</p></li>

            <li><p><b>prof. dr hab. Maciej Szmitkowski</b></br>
                Zakład Diagnostyki Biochemicznej, Uniwersytet Medyczny w Białymstoku</p></li>

            <li><p><b>prof. dr hab. Anna Szmyrka-Grzebyk</b></br>
                Polska Akademia Nauk, Instytut Niskich Temperatur i Badań Strukturalnych</p></li>

            <li><p><b>prof. dr hab. Artur Terzyk</b></br>
                Uniwersytet Mikołaja Kopernika; Wydział Chemii</p></li>

            <li><p><b>dr inż. Bożena Tyliszczak</b></br>
                Politechnika Krakowska, Wydział Inżynierii i Technologii Chemicznej</p></li>

            <li><p><b>dr inż. Bożena Twardochleb</b></br>
                Instytut Ciężkiej Syntezy Organicznej, Zakład Produktów Ekologicznych</p></li>

            <li><p><b>dr Agnieszka Tafelska-Kaczmarek</b></br>
                Uniwersytet Mikołaja Kopernika; Wydział Chemii</b></br>

            <li><p><b>Prof. dr hab. Ewa Witek</b></br>
                Uniwersytet Jagielloński; Wydział Chemii; Zakład Technologii Chemicznej</p></li>

            <li><p><b>dr inż. Beata Wileńska</b></br>
                Uniwersytet Wrocławski, Wydział Chemii</p></li>

            <li><p><b>prof. dr hab. Krystyna Wieczorek-Ciurowa</b></br>
                Wydział Inżynierii i Technologii Chemicznej, Politechnika Krakowska</p></li>

            <li><p><b>prof. dr hab. Monika Wujec</b></br>
                Uniwersytet Medyczny w&nbsp;Lublinie; Wydział Farmaceutyczny z&nbsp;Oddziałem Analityki Medycznej; Katedra i&nbsp;Zakład Chemii</p></li>

            <li><p><b>prof. dr hab. inż. Ilona Wandzik</b></br>
                Katedra Chemii Organicznej, Bioorganicznej i Biotechnologii; Politechnika Śląska</p></li>

            <li><p><b>prof. dr hab. Anna Zawisza</b></br>
                Uniwersytet Łódzki; Wydział Chemii</p></li>

            <li><p><b>prof. dr hab. Lucjusz Zaprutko</b></br>
                Wydział Farmaceutyczny, Uniwersytet Medyczny im. Karola Marcinkowskiego w Poznaniu</p></li>
        </ul>
    </div>
</div>
