<nav class="container navbar navbar-default ms-navbar-fixed" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#/home" class="navbar-link glyphicon glyphicon-home"><span class="sr-only">(current)</span></a></li>
                <li><a href="#/editor" class="navbar-link">Redakcja</a></li>
                <li><a class="dropdown-toggle" data-toggle="dropdown">Dla autorów<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/procedures">Obowiązujące procedury</a></li>
                        <li><a href="#/terms">Regulamin</a></li>
                        <li><a href="#/reviewers">Recenzenci</a></li>
                    </ul>
                </li>
                <li ng-controller="menuController" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <bootstrap-submenu ng-repeat="item in menuItems" menu-item="item">
                        </bootstrap-submenu>
                    </ul>
                </li>
                <li><a class="dropdown-toggle" data-toggle="dropdown">Dostęp online<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://www.dbc.wroc.pl/dlibra/publication/2181" target="_blank">Zeszyty</a></li>
                        <li><a href="http://yadda.icm.edu.pl/baztech/element/bwmeta1.element.baztech-journal-0043-5104-wiadomosci_chemiczne" target="_blank">Artykuły</a></li>
                    </ul>
                </li>
                <li><a href="#/sales" class="navbar-link">Subskrypcja i sprzedaż</a></li>
                <li><a href="#/contact" class="navbar-link">Kontakt</a></li>
                <form class="navbar-form navbar-left" role="search" action="http://www.google.pl/search" method="get">
                    <input type="text" class="form-control" placeholder="" name="q" >
                    <input type="hidden" name="ie" value="iso-8859-2" />
                    <input type="hidden" name="sitesearch" value="wiad.chem.uni.wroc.pl" />
                    <input type="submit" class="btn btn-default" value="Szukaj" />
                </form>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
