<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#/home" class="navbar-link glyphicon glyphicon-home"><span class="sr-only">(current)</span></a></li>
                <li><a href="#/editor" class="navbar-link">Redakcja</a></li>
                <li><a href="#/sales" class="navbar-link">Subskrypcja i sprzedaż</a></li>
                <li><a href="#/terms" class="navbar-link">Regulamin</a></li>
                <li><a href="#/reviewers" class="navbar-link">Recenzenci</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Abstrakty <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown dropdown-submenu"><a href="#/abstract" class="dropdown-toggle" data-toggle="dropdown">Lata 2011-2015</a>
                            <ul class="dropdown-menu">
                                <li><a href="#/abstract">2015</a></li>
                                <li><a href="abstract2014.html">2014</a></li>
                                <li><a href="abstract2013.html">2013</a></li>
                                <li><a href="abstract2012.html">2012</a></li>
                                <li><a href="abstract2011.html">2011</a></li>
                            </ul>
                        </li>
                        <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Lata 2006-2010</a>
                            <ul class="dropdown-menu">
                                <li><a href="abstract2010.html">2010</a></li>
                                <li><a href="abstract2009.html">2009</a></li>
                                <li><a href="abstract2008.html">2008</a></li>
                                <li><a href="abstract2007.html">2007</a></li>
                                <li><a href="abstract2006.html">2006</a></li>
                            </ul>
                        </li>
                        <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Lata 2001-2005</a>
                            <ul class="dropdown-menu">
                                <li><a href="abstract2005.html">2005</a></li>
                                <li><a href="abstract2004.html">2004</a></li>
                                <li><a href="abstract2003.html">2003</a></li>
                                <li><a href="abstract2002.html">2002</a></li>
                                <li><a href="abstract2001.html">2001</a></li>
                            </ul>
                        </li>
                        <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Lata 1996-2000</a>
                            <ul class="dropdown-menu">
                                <li><a href="abstract2000.html">2000</a></li>
                                <li><a href="abstract1999.html">1999</a></li>
                                <li><a href="abstract1998.html">1998</a></li>
                                <li><a href="abstract1997.html">1997</a></li>
                                <li><a href="abstract1996.html">1996</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Dostęp online<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://www.dbc.wroc.pl/dlibra/publication/2181" class="navbar-link" target="_blank">Dolnośląska Biblioteka Cyfrowa</a></li>
                        <li><a href="http://yadda.icm.edu.pl/baztech/element/bwmeta1.element.baztech-journal-0043-5104-wiadomosci_chemiczne" class="navbar-link" target="_blank">BazTech</a></li>
                    </ul>
                </li>
                <form class="navbar-form navbar-left" role="search" action="http://www.google.pl/search" method="get">
                    <input type="text" class="form-control" placeholder="" name="q" >
                    <input type="hidden" name="ie" value="iso-8859-2" />
                    <input type="hidden" name="sitesearch" value="wch.magdalenaszumna.pl" />
                    <input type="submit" class="btn btn-default" value="Szukaj" />
                </form>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
