<div class="panel panel-info">
    <div class="panel-heading">
        <h4>Konto i&nbsp;ceny dla klientów indywidualnych:</h4>
    </div>
    <div class="panel-body">
        <p>
        Wysokość prenumeraty rocznej „Wiadomości Chemicznych” za rok 2019 dla instytucji i&nbsp;niezrzeszonych prenumeratorów indywidualnych będzie wynosiła <b>252 zł</b> (w tym 5% VAT).</br> Należność za prenumeratę prosimy przekazywać na konto:
        </p>

        <p></p>
        <p>
        Redakcja "Wiadomości Chemicznych"</br>
        BANK PEKAO S.A.</br>
        Oddział we Wrocławiu</br>
        pl. Powstańców Śl. 9, 50-950 Wrocław</br>
        48 1240 6670 1111 0000 5649 8781
        </p>
    </div>
    </div>
<div class="panel panel-info">
    <div class="panel-heading">
        <h4>Konto i&nbsp;ceny dla członków PTChem:</h4>
        </div>
        <div class="panel-body">
        <p>Cena prenumeraty rocznej dla wszystkich członków PTChem, jest znacznie niższa i&nbsp;wynosi <b>20 zł</b>. Członkowie PTChem, którzy zechcą zaprenumerować „Wiadomości Chemiczne” na podanych tu warunkach, proszeni są o&nbsp;wnoszenie opłat na konto:
        </p>
        <p></p>
        <p>
        PTChem Warszawa, ul. Freta 16</br>
        Bank BGŻ</br>
        54 2030 0045 1110 0000 0261 6290
        </p>
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <h4>Biblioteka Wiadomości Chemicznych</h4>
    </div>
    <div class="panel-body">
        <p>Informujemy, że są u nas do nabycia bieżące zeszyty "Wiadomości Chemicznych" oraz następujace pozycje "Biblioteki Wiadomości Chemicznych":</p>
        <ol>
            <li ng-repeat="book in library.library">
                <i ng-bind-html="book.title"></i> - <span ng-bind-html="book.author"></span>,
                <p ng-if="book.available">cena:&nbsp;{{book.price}} zł</p>
                <p ng-if="!book.available"> - nakład wyczerpany, dostępna wersja elektroniczna</p>
            </li>
        </ol>
    </div>
</div>
