<div class="panel panel-info">
    <div class="panel-heading">
        <h4>Konto i ceny dla klientów indywidualnych:</h4>
    </div>
    <div class="panel-body">
        <p>
        Wysokość prenumeraty rocznej „Wiadomości Chemicznych” za rok 2016 dla instytucji i niezrzeszonych prenumeratorów indywidualnych będzie wynosiła <b>231 zł</b>.</br> Należność za prenumeratę prosimy przekazywać na konto:
        </p>

        <p></p>
        <p>
        Redakcja "Wiadomości Chemicznych"</br>
        BANK PEKAO S.A.</br>
        Oddział we Wrocławiu</br>
        pl. Powstańców Śl. 9, 50-950 Wrocław</br>
        48 1240 6670 1111 0000 5649 8781
        </p>
    </div>
    </div>
<div class="panel panel-info">
    <div class="panel-heading">
        <h4>Konto i ceny dla członków PTChem:</h4>
        </div>
        <div class="panel-body">
        <p>Cena prenumeraty rocznej dla wszystkich członków PTChem, jest znacznie niższa i wynosi <b>20 zł</b>.  Członkowie PTChem, którzy zechcą zaprenumerować „Wiadomości Chemiczne” na podanych tu warunkach, proszeni są o wnoszenie opłat na konto:
        </p>
        <p></p>
        <p>
        PTChem Warszawa, ul. Freta 16</br>
        Bank BGŻ</br>
        54 2030 0045 1110 0000 0261 6290
        </p>
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <h4>Biblioteka Wiadomości Chemicznych</h4>
    </div>
    <div class="panel-body">
        <p>Informujemy, że są u nas do nabycia bieżące zeszyty "Wiadomości Chemicznych" oraz następujace pozycje "Biblioteki Wiadomości Chemicznych":</p>
        <ol>
            <li><i>Nomenklatura chemii nieorganicznej (Zalecenia 1990)</i>, red. Z.Stasicka, cena 25 zł.</li>
            <li><i>Nomenklatura związków chemicznych. Poradnik dla nauczycieli</i>, Z.Kluz, M.Późniczek, cena 10 zł.</li>
            <li><i>Podstawowa terminologia stereochemii (Zalecenia 1996). Słownik podstawowych terminów w nauce o polimerach (Zalecenia 1996)</i>, red. O.Achmatowicz, B.Szechner P.Kubisa, cena 12 zł.</li>
            <li><i>Nomenklatura weglowodanów (Zalecenia 1996)</i>, tłum. I red. T.Sokołowska i A.Wiśniewski, cena 18 zł.</li>

            <li><i>Bronisław Radziszewski i lwowska szkoła chemii organicznej</i>I.Z.Siemion, cena 18 zł.</li>
            <li><i>Fizykochemia molekuł zamkniętych w zeolitach I zol-żelach</i>K.Maruszewski, cena 18 zł.</li>
            <li><i>Uporządkowane materiały mezoporowate</i>red. B.Burczuk, cena 18 zł.</li>
            <li><i>Skorygowana nomenklatura rodników, jonów, jonorodników i podobnych indywiduów chemicznych (Zalecenia 1993)</i>red. T.Sokołowska i A.Wiśniewski, cena 15 zł.</li>
            <li><i>Lutum sapientiae, czyli Notatek chaotycznych część pierwsza</i>I.Z.Siemion, cena 18 zł.
            <li><i>Ruchliwość jonów w podwójnych układach stopionych soli</i></li>
            <li><i>Bibliografia "Wiadomości Chemicznych za lata 1998-1997</i>, cena 3 zł.</li>

            <li><i>Nanomateriały</i>red. D.Hreniak, W.Łojewski, W.Stręk, M.Suszyńska, cena 25 zł.</li>
            <li><i>Glossary of Class Names of Organic Compounds and Reactive Intermediates Based on  Structure</i> tłumaczenie:  F. Kaźmierczak, J. Gawroński, cena 16 zł.</li>
            <li><i>Ogniwa paliwowe. Nowe kierunki rozwoju</i>cena 20 zł.</li>
            <li><i>Oddziaływanie leków nowotworowych z białkami osocza i wybranymi białkami wewnątrzkomórkowymi</i>Lilianna Trynda-Lemiesz, cena 18 zł. NAKŁAD WYCZERPANY - dostępna wersja elektroniczna.</li>
            <li><i>Od substancji prostych do życia. Świat RNA - początki życia na ziemi</i>Zdzisław Chilmonczyk, cena 18 zł. NAKŁAD WYCZERPANY - dostępna wersja elektroniczna.</li>
            <li><i>Profesor Bogusława Jeżowska-Trzebiatowska 1908-1991</i>Opracowanie: J. J. Ziółkowski, cena 12 zł.</li>
            <li><i>Chemia koordynacyjna w Polsce. Część I</i>cena 17.50 zł.</li>
            <li><i>Chemia koordynacyjna w Polsce. Część II</i>cena 17.50 zł.</li>
            <li><i>Chemosensory Optyczne oraz Materiały Rozpoznawcze dla Jonów Metali w Roztworach</i>Krzysztof Kledzik, cena 22 zł.</li>
            <li><i>Obliczenia teoretyczne stałej ekranowania magnetycznego i stałych sprzężeń spinowo-spinowych</i>Teobald Kupka, cena 20 zł.</li>

        </ol>

    </div>
</div>
