<div class="panel panel-info">
    <div class="panel-heading">
        <h4>Kontakt</h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-5 col-md-5">
                <p>
                    <a href="http://www.chem.uni.wroc.pl/" target="_blank">Wydział Chemii Uniwersytetu Wrocławskiego</a><br />
                    Redakcja „Wiadomości Chemicznych”<br />
                    ul. F. Joliot-Curie 14, 50-383 Wrocław<br />
                    <u>Sekretarz redakcji:</u><br />
                    dr Beata Świątek-Tran<br />
                    tel.: 693 082 525<br />
                    e-mail: <a href="mailto: beata.swiatek-tran@chem.uni.wroc.pl">beata.swiatek-tran@chem.uni.wroc.pl</a>
                </p>
            </div>
            <div class="col-sm-7 col-md-7">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5009.947704338953!2d17.046970499999997!3d51.108942600000006!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470fe9d5d5e4c4fd%3A0x5c79077a861c1c1a!2sFryderyka+Joliot-Curie+14%2C+50-383+Wroc%C5%82aw!5e0!3m2!1spl!2spl!4v1459455820074" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

            </div>
        </div>
    </div>
</div>