<div class="panel panel-info" id="editor">
    <div class="panel-heading">
        <h4>Redakcja</h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <p>REDAKTOR NACZELNY:</br>
                    prof. dr hab. Zdzisław Latajka</br>
                    Wydział Chemii, Uniwersytet Wrocławski</br>
                    <a href="mailto:zdzislaw.latajka@chem.uni.wroc.pl">zdzislaw.latajka@chem.uni.wroc.pl</a></br>
                    Tel: 71 375 74 40
                </p>
                <p>SEKRETARZ REDAKCJI:</br>
                    dr Beata Świątek-Tran</br>
                    <a href="mailto:beata.swiatek-tran@chem.uni.wroc.pl">beata.swiatek-tran@chem.uni.wroc.pl</a></br>
                    Tel: 693 082 525
                </p>
            </div>
            <div class="col-sm-4 col-md-4">
                <p>KOLPORTAŻ:</br>
                    mgr Kazimiera Lukjan</br>
                    <a href="mailto:kazimiera.lukjan@chem.uni.wroc.pl">kazimiera.lukjan@chem.uni.wroc.pl</a></br>
                    Tel: 71 375 73 65
                </p>
            </div>
            <div class="col-sm-4 col-md-4">
                <p>SPRAWY FINANSOWE REDAKCJI:</br>
                    mgr Barbara Latko</br>
                    <a href="mailto:wchem@chem.uni.wroc.pl">wchem@chem.uni.wroc.pl</a></br>
                    Tel: 71 375 73 11
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>Rada Redakcyjna</h4>
            </div>
            <div class="panel-body">
                <ul class="list-none">
                    <li>prof. dr hab. Ryszard Adamiak</li>
                    <li>prof. dr hab. Irena Baranowska</li>
                    <li>prof. dr hab. Andrzej Barański</li>
                    <li>prof. Tadeusz Gorecki</li>
                    <li>prof. Mietek Jaroniec</li>
                    <li>prof. dr hab. Anatol Kojło</li>
                    <li>prof. dr hab. Tadeusz M. Krygowski</li>
                    <li>prof. Krzysztof Matyjaszewski</li>
                    <li>prof. Jerzy Leszczyński</li>
                    <li>prof. dr hab. Piotr Paneth</li>
                    <li>prof. Janusz Pawliszyn</li>
                    <li>prof. dr hab. Kazimierz M. Pietrusiewicz</li>
                    <li>prof. dr hab. Dariusz Pogocki</li>
                    <li>prof. dr hab. Marek Potrzebowski</li>
                    <li>prof. Sławomir Rubinsztajn</li>
                    <li>prof. dr hab. Grzegorz Schroeder</li>
                    <li>prof. dr hab. Andrzej Sokalski</li>
                    <li>prof. dr hab. Artur P. Terzyk</li>
                </ul>
                <p>PRZEWODNICZĄCY:</br>
                prof. dr hab. Bogusław Buszewski
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>Komitet Redakcyjny</h4>
            </div>
            <div class="panel-body committee">
                <ul class="list-none">
                    <li>prof. dr hab. Marcin Drąg</li>
                    <li>prof. dr hab. Adam Jezierski</li>
                    <li>prof. dr hab. Leszek Kępiński</li>
                    <li>prof. dr hab. Ludwik Komorowski</li>
                    <li>prof. dr hab. Witold Ryba-Romanowski</li>
                    <li>dr hab. Sławomir Szafert</li>
                    <li>prof. dr hab. Andrzej Trochimczuk</li>
                    <li>prof. dr hab. Kazimiera Wilk</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <h4>Wydawca</h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-3 col-md-3">
            </div>
            <div class="col-sm-3 col-md-3">
                <a href="http://www.ptchem.pl/" target="_blank"><img class="ptch-logo" src="img/logoptchem.gif" alt="logo PTCh"></a>
            </div>
            <div class="col-sm-3 col-md-3">
                <p class="ptch-address">
                    Polskie Towarzystwo Chemiczne<br />
                    ul Freta 16, 00-227 Warszawa<br />
                    <a href="http://www.ptchem.pl/" target="_blank">www.ptchem.pl</a>
                </p>
            </div>
        </div>
    </div>
</div>
