<div class="panel panel-info">
    <div class="panel-heading">
        <h4>Regulamin</h4>
    </div>
    <div class="panel-body">
        <h3>1. Informacje ogólne</h3>
            <p>„Wiadomości Chemiczne” są recenzowanym czasopismem naukowym Polskiego Towarzystwa Chemicznego, które publikuje przede wszystkim artykuły przeglądowe. Ponadto publikowane są tutaj inne <b>wartościowe</b> materiały o&nbsp;charakterze edukacyjno-informacyjnym takie jak: artykuły oparte na pracach doktorskich lub habilitacyjnych, które zostały wyróżnione przez Rady Wydziałów, przed którymi toczyły się odpowiednie procesy; materiały informacyjne na temat uczonych oraz jednostek naukowych/firm chemicznych lub pokrewnych chemii; materiały o&nbsp;aktualnych osiągnięciach w&nbsp;szeroko pojętych naukach chemicznych. </p>
            <p>Dodatkową ofertę Wydawnictwa stanowi seria, „Biblioteka Wiadomości Chemicznych”, gdzie publikowane są dłuższe artykuły przeglądowe lub monografie poświęcone ważnym i&nbsp;aktualnym problemom współczesnej chemii. Autorzy, którzy chcieliby takie prace napisać, powinni wcześniej skontaktować się z&nbsp;Redakcją, a&nbsp;następnie przesłać wstępnie przygotowaną publikację (redagowaną na wzór artykułów w&nbsp;czasopiśmie „Wiadomości Chemicznych”) lub informację na temat przygotowywanej pracy – tytuł przygotowywanej publikacji, przybliżoną liczbę stron, tabel, rysunków. w&nbsp;chwili obecnej Redakcja nie posiada środków na finansowanie prac w&nbsp;serii „Biblioteka Wiadomości Chemicznych”. w&nbsp;zależności od sytuacji finansowej Wydawnictwa, Redakcja zastrzega sobie prawo negocjacji kosztów druku z&nbsp;autorami lub Instytucjami zlecającymi druk.</p>
            <p>„Wiadomości Chemiczne” wydawane są zarówno w&nbsp;wersji drukowanej jak i&nbsp;elektronicznej. Wersja elektroniczna udostępniana jest bezpłatnie w&nbsp;Internecie.</p>
            <p>Czasopismo jest indeksowane/abstraktowane w&nbsp;kilku bazach danych: Chemical Abstracts, Polska Bibliografia Naukowa, BazTech, Polska Bibliografia Lekarska, Index Copernicus, Baza ARIANTA.</p>
        <h3>2. Informacje dla autorów na temat wymagań i&nbsp;zasad publikowania prac</h3>
            <ul>
                <li>Prace nie były wcześniej publikowane, ani nie są złożone w&nbsp;redakcji innego czasopisma.</li>
                <li>Autorzy prac stosują się do wymagań praw autorskich tzn. w&nbsp;przypadku zamieszczania rysunków, tabel itp., pochodzących z&nbsp;opracowań opublikowanych w&nbsp;innych czasopismach lub publikacjach zwartych, posiadają pisemną zgodę na ich przedruk.</li>
                <li>Opublikowana raz praca bez zgody Redakcji, nie może być wydawana gdzie indziej.</li>
                <li>Autorzy przysyłający prace po raz pierwszy powinni podać swój numer telefonu oraz adresy poczty tradycyjnej i&nbsp;elektronicznej. Jest to niezbędny warunek sprawnego przebiegu opracowania redakcyjnego tekstu.</li>
                <li>Autorzy zobowiązani są do wykonania korekty tekstu. W pracach przyjętych do druku Redakcja ma prawo dokonywania niezbędnej korekty.</li>
                <li>Jeżeli autorzy nie zastrzegą inaczej w&nbsp;momencie zgłoszenia pracy, wydawca nabywa ogólnych praw autorskich do wydrukowanych prac (w tym prawo wydawania na nośnikach elektronicznych oraz w&nbsp;Internecie). Tytułem powyższego wykorzystania utworów autorom nie są wypłacane honoraria.</li>
                <li>Wszystkie nadsyłane prace są poddawane w ciągu 7 dni od daty otrzymania wstępnej ocenie która określa czy odpowiadają randze i profilowi „Wiadomości Chemicznych” oraz czy zostały przygotowane zgodnie z formalnymi wymogami czasopisma.</li>
                <li>Po uzyskaniu pozytywnej wstępnej oceny wszystkie prace są recenzowane przez co najmniejdwóch niezależnych recenzentów (w ciągu 30 dnia od daty otrzymania), zgodnie zestandardami i wytycznymi Komitetu do Spraw Etyki Publikacyjnej (COPE – Committee onPublication Ethics, www.publicationethics.org). Recenzje są anonimowe i sporządzane naspecjalnym formularzu. Pełna lista recenzentów z okresu ostatnich 3 lat jest zamieszczana nastronie domowej czasopisma.</li>
                <li>Autor ma 60 dni na dokonanie poprawek i przekazania ostatecznej wersji tekstu do Redakcji. Przekroczenie terminu może skutkować przesunięciem tekstu do następnego numeru.</li>
                <li>O przyjęciu pracy do druku decyduje Komitet Redakcyjny.</li>
                <li>Prace, które Komitet Redakcyjny na podstawie uzyskanych recenzji stwierdził, że nie należy przyjąć do druku w&nbsp;czasopiśmie, po uwzględnieniu sugestii recenzentów mogą być powtórnie przesłane do czasopisma. W&nbsp;takim przypadku praca traktowana jest jako nowy tekst i&nbsp;ponownie przechodzi pełną procedurę recenzowania.</li>
                <li>Ponadto Komitet Redakcyjny informuje, że tzw. „ghostwiting” (ktoś wniósł znaczący wkład w&nbsp;powstanie publikacji, a&nbsp;nie został przedstawiony jako współautor lub też nie został wymieniony w&nbsp;podziękowaniu zamieszczonym w&nbsp;publikacji) lub „guest authorship” (udział autora jest znikomy lub też w&nbsp;ogóle nie miał miejsca, a&nbsp;mimo to jest współautorem publikacji) są przejawem nierzetelności naukowej. Wszelkie przejawy nierzetelności naukowej, łamania i&nbsp;naruszania zasad etyki obowiązującej w&nbsp;nauce będą ujawniane, włącznie z&nbsp;powiadomieniem jednostek zatrudniających autorów.</li>
                <li>Autorzy mają prawo do zaproponowania co najmniej trzech niezależnych recenzentów, jednak ostatecznego wyboru anonimowych recenzentów dokonuje Redakcja. </li>
            </ul>
        <h3>3. Koszty</h3>
            <p>Autorzy czasami mogą ponosić częściowe koszty wydania swoich artykułów. Tak jest w&nbsp;przypadku tzw. <b>stron nadliczbowych </b> tj. powyżej 25 stron. Za każdą rozpoczętą nadliczbową stronę jest naliczana opłata w&nbsp;wysokości około 50 zł. Najczęściej kwota ta pokrywana jest z&nbsp;funduszy pozyskiwanych przez Autorów lub przez Wydziały które wspomagają wydawanie „Wiadomości Chemicznych”. Niezależnie od rodzaju pracy opłata pobierana jest również za <b>strony drukowane w&nbsp;kolorze</b> (zgodnie z&nbsp;faktycznym kosztem druku).</p>
            <p>Redakcja zastrzega sobie możliwość zmiany wysokości opłat, w&nbsp;zależności od wielkości dofinansowania z&nbsp;MNiSW oraz wypracowanych środków własnych. Faktura wystawiana jest po ukazaniu się pracy.</p>
            <p>W przypadku prac w&nbsp;serii „Biblioteka Wiadomości Chemicznych”, Redakcja nie posiada środków na finansowanie i&nbsp;zastrzega sobie prawo negocjacji kosztów druku z&nbsp;autorami lub Instytucjami zlecającymi druk.</p>
        <h3>4. Informacje szczegółowe dotyczące przygotowania maszynopisu do druku</h3>
        <h4>4.1 Wymagania merytoryczne</h4>
            <p>Tekst należy napisać zwięźle, prostym stylem, według zasad pisowni polskiej, z zachowaniem poprawnego i&nbsp;obowiązującego nazewnictwa fachowego. Nie należy zamieszczać nadmiaru szczegółów odsyłając Czytelnika do piśmiennictwa oryginalnego, które to powinno uwzględniać najnowsze informacje, dotyczące napisanej pracy. Literaturę należy cytować ze źródeł oryginalnych.</p>
        <h4>4.2 Wymagania techniczne składu tekstu</h4>
            <ul>
                <li>W przypadku prac współfinansowanych przez autorów, liczba stron oraz forma kolorystyczna manuskryptu nie jest ograniczona (wymagane jest wcześniejsze uzgodnienie z&nbsp;Redakcją).</li>
                <li>Maszynopisy prac autorów którzy nie chcą ponosić dodatkowych kosztów, nie powinny przekraczać 25 stron całej pracy (po wydruku w&nbsp;czasopiśmie) oraz drukowane będą w&nbsp;wersji czarno białej.</li>
                <li>Główny tekst nadsyłanych prac powinien być napisany w&nbsp;edytorze Word, czcionką Times New Roman, 12p z&nbsp;zachowaniem interlinii 1,5 oraz z&nbsp;5 cm marginesem z&nbsp;prawej strony.
                Przy podziale tekstu należy stosować numerację cyfrową wielorzędową. Numerujemy tylko tytuły rozdziałów, <b>nie numerujemy działów</b>: Abstract, Wykaz stosowanych skrótów, Wprowadzenie, Uwagi końcowe, Podziękowanie, Piśmiennictwo cytowane. Jednolity sposób numeracji konsekwentnie stosuje się wewnątrz tekstu (w całym tekście tj. zarówno przy numerowaniu rozdziałów, przy przytaczaniu piśmiennictwa cytowanego oraz odwoływaniu się do tabel rysunków itp., <b>nie należy stosować odsyłaczy hipertekstowych</b>). </li>
                <li>Tekst powinien być napisany poprawnym językiem, wszystkie skróty muszą być wyjaśnione, oznaczenia i&nbsp;jednostki miar należy podawać według układu SI, pozycje cytowanej literatury należy oznaczać numerami umieszczonymi w&nbsp;nawiasach kwadratowych, w&nbsp;kolejności cytowania wg wzorów [1, 5, 7] (dla prac 1, 5 i&nbsp;7) lub [1-5, 7] (dla prac od 1 do 5 oraz pracy 7). </li>
                <li>Jeśli w&nbsp;artykułach znajdują się przedruki rysunków, czy innych elementów prac cudzych, w&nbsp;opisach (polskich i&nbsp;angielskich) należy zamieścić stosowną informację.</li>
                <li>Zaleca się umieszczać w&nbsp;tekście pracy rysunki, tabele oraz podpisy (jeśli są przygotowane w&nbsp;edytorze Word), jednak w&nbsp;przypadku plików o&nbsp;bardzo dużych rozmiarach należy zaznaczyć miejsca na ich umieszczenie (zob. Pliki jakie należy przekazać do Redakcji).</li>
                <li><b>Pierwsza strona pracy powinna zawierać kolejno:</b>
                    <ul>
                    <li>tytuł pracy w&nbsp;języku polskim (Times New Roman, 14 p, pogrubiony, WERSALIKI), i&nbsp;angielskim (Times New Roman, 14 p, WERSALIKI), </li>
                    <li>pełne imię i&nbsp;nazwisko autora (autorów) pracy (Times New Roman, 15p, pogrubione),</li>
                    <li>pełne nazwy ośrodków przypisane do autorów pracy (wraz z&nbsp;adresem ośrodka i&nbsp;adresem e-mail autora korespondującego (Times New Roman, 10,5, kursywa)</li>
                    <li>spis treści pracy z&nbsp;zastosowaniem następującego podziału:<br>
                    Abstract<br>
                    Wykaz stosowanych symboli i&nbsp;oznaczeń<br>
                    Wprowadzenie<br>
                    1.Tytul rozdziału<br>
                    1.1. Tytuł podrozdziału itp.<br>
                    Uwagi końcowe<br>
                    Podziękowanie<br>
                    Piśmiennictwo cytowane<br></li>
                    </ul>
                </li>
                <li><b>Kolejne strony pracy powinny zawierać:</b>
                    <ul>
                        <li><b>notki o&nbsp;autorach </b> pracy wraz z&nbsp;tytułami naukowymi (można dołączyć osobno pliki z&nbsp;fotografiami autorów (zob. <b>Pliki jakie należy przekazać do Redakcji </b> ),</li>
                        <li><b>obszerne streszczenie pracy w&nbsp;języku angielskim </b> (od 1800 do 2700 znaków ze&nbsp;spacjami) z&nbsp;uwzględnieniem cytowanego piśmiennictwa oraz odsyłaczami do tabel, rysunków zamieszczonych w&nbsp;tekście (Rys. 1, Tab.1-2, Schemat 1) oraz <b>słowa kluczowe </b> - nie więcej niż 6, uzyskane najlepiej z&nbsp;bazy haseł przedmiotowych podawane w&nbsp;języku angielskim i&nbsp;polskim,</li>
                        <li><b>wykaz stosowanych skrótów </b> - w&nbsp;przypadku niewielkiej liczby skrótów lub akronimów nie jest konieczne zamieszczanie tej pozycji, wówczas, skróty wyjaśniamy w&nbsp;tekście przy pierwszym użyciu. Angielskie skróty należy podać i&nbsp;wyjaśnić wg poniżej podanego wzoru lub w&nbsp;oparciu o&nbsp;inne prace zamieszczone w&nbsp;„Wiadomościach Chemicznych”. Przykład: dla skrótu SSRI - selektywne inhibitory zwrotnego wychwytu serotoniny (ang. Selective Serotonin Reuptake Inhibitor)</li>
                        <li><b>dalszy tekst pracy zgodny z&nbsp;podawanym wcześniej spisem treści.</b></li>
                    </ul>
                </li>
                <li><b>Tabele, rysunki, fotografie</b>
                    <ul>
                        <li>Tabele i&nbsp;rysunki <b>powinny być zamieszczone w&nbsp;przesyłanym tekście</b> oraz dodatkowo (po zatwierdzeniu pracy do druku, na etapie przygotowywania szczotki) dołączone w&nbsp;postaci osobnych plików zapisanych w formacie pdf , doc, jpg, tiff.</li>
                        <li>Tabele i&nbsp;rysunki powinny być przejrzyste, zawierać informacje niezbędne do zrozumienia treści, bez konieczności poszukiwania objaśnień w&nbsp;tekście pracy, należy je numerować cyframi arabskimi oraz podać tytuł (polski/angielski, nad tabelą, pod rysunkiem, Times New Roman, 10 p).</li>
                        <li>Wszystkie fotografie – należy przesłać w&nbsp;postaci plików zapisanych w&nbsp;formacie tif, jpg lub podobnym, <b>każdą zapisać w&nbsp;oddzielnym pliku o&nbsp;rozdzielczości co najmniej 300 dpi</b>.</li>
                    </ul>
                </li>
                <li><b>Piśmiennictwo cytowane</b>
                    <ul>
                        <li>Piśmiennictwo należy zestawić numerycznie według kolejności cytowania w&nbsp;tekście, należy cytować wyłącznie pozycje istotne dla treści pracy w&nbsp;sposób precyzyjny</li>
                        <li>W przypadku <b>artykułów z&nbsp;czasopism tradycyjnych</b>, opis powinien zawierać kolejno następujące elementy: inicjały imion i&nbsp;nazwisko autora (autorów), skrót tytułu czasopisma zgodny z&nbsp;przyjętymi normami, rok wydania, <b>numer wolumenu zaznaczony pogrubioną czcionką</b>, numer pierwszej strony cytowanej pracy, np.<br>
                            [1] J. Kowalski, Wiad.Chem., 2007, <b>61</b>, 473<br>
                            [2] W. Kowalski, A. Nowak, Przem. Spoż. 2010, <b>51</b>, 3<br>
                        </li>
                        <li>W przypadku <b>książek</b> najprostszy opis powinien zawierać: inicjały imion i&nbsp;nazwisko autora (autorów), tytuł książki, nazwę wydawcy, miejsce wydania, rok wydania, np.
                        <br>
                        [1] J. Malinowski, Tytuł książki, PWN, Warszawa, 2004.<br>
                        [2] W. Kowalski, Tytuł książki, Volumed, Wrocław, 1999
                        </li>
                        <li>
                            w&nbsp;przypadku zasobów Internetowych najprostszy opis powinien zawierać : inicjały imion i&nbsp;nazwisko autora (autorów), tytuł (artykułu) dokumentu online, [dostęp], wydawca, [data&nbsp;dostępu]. Warunki dostępu, np.<br>

                            [7] J. Kowalski, Tytuł artykułu. [online], wydawca, [dostęp: 2010-05-20]. Dostępny w&nbsp;Internecie: <span style="color:#00f">http://www...........</span>
                        </li>
                    </ul>
                </li>
            </ul>
        <h4>4.3 Materiały jakie należy przygotować w&nbsp;celu przesłania pracy do Redakcji</h4>

        <p><b>Przed podjęciem decyzji o&nbsp;zakwalifikowaniu pracy </b> do druku w&nbsp;celu oceny merytorycznej należy przesłać <b>jeden</b> plik kompletnej pracy zredagowany zgodnie z&nbsp;wymaganiami Redakcji.</p>
        <p><b>Po uzyskaniu pozytywnej recenzji </b> i&nbsp;po ustosunkowaniu się do uwag Recenzenta oraz Redakcji należy przesłać ostateczną wersję pracy w&nbsp;następującej postaci:</p>
        <ul>
            <li>1 plik tekstu zredagowany zgodnie z&nbsp;wymaganiami Redakcji;</li>
            <li>1 plik zawierający krótkie notki biograficzne o&nbsp;autorach nadesłanej pracy (każda notka do&nbsp;150 wyrazów powinna zawierać: tytuł naukowy, miejsce pracy oraz inne ważne informacje o&nbsp;autorze);</li>
            <li>pliki zawierające zdjęcia portretowe autorów, w&nbsp;nazwie powinny wskazywać autora, którego zdjęcie dotyczy (dobrowolne, przesłanie plików jest jednoznaczne ze zgoda na jego opublikowanie);</li>
            <li>1 plik zawierający: stronę tytułową, streszczenie (abstrakt), słowa kluczowe, podpisy pod rysunki, tabele, schematy (wszystko w&nbsp;obu wersjach językowych); jeśli zachodzi potrzeba to również oddzielne pliki z&nbsp;rysunkami, schematami, tabelami (zob. Tabele, rysunki, fotografie).</li>
        </ul>
        <p>Prace nie odpowiadające wyżej wymienionym wymaganiom nie będą przyjmowane do druku. Redakcja zastrzega sobie prawo dokonywania poprawek stylistycznych i&nbsp;skrótów. Autorzy są zobowiązani do wykonania korekty artykułu i&nbsp;jego zwrotu do Redakcji w&nbsp;ciągu kilku dni od otrzymania.</p>
        <p>Na etapie przygotowania szczotki, w&nbsp;przypadku przesyłania prac z&nbsp;kolorowymi stronami prosimy o&nbsp;zaznaczenie, stron które w&nbsp;formie druku mają być kolorowe. Brak tej czynność będzie skutkował <b>czarno-białym wydrukiem wersji papierowej</b>. w&nbsp;przypadku zmian w&nbsp;wersji drukowanej kolorowych rysunków na czarno-białe, prosimy o&nbsp;przesłanie dostosowanych do tego celu rysunków.</p>
        <p>Prace prosimy przesyłać pocztą elektroniczną na adres: <a href="mailto: beata.swiatek-tran@chem.uni.wroc.pl">beata.swiatek-tran@chem.uni.wroc.pl</a> lub <a href="mailto: wchem@wchuwr.pl">wchem@wchuwr.pl</a>, zaś dokumenty wymagające podpisów autorów (np. list intencyjny, oświadczenia autorów, kopie zgody na przedruk potwierdzone za zgodność z&nbsp;oryginałem) pocztą tradycyjną na adres Redakcji.</p>

        <p class="right-signature"><i>Redakcja „Wiadomości Chemicznych”</i></p>
    </div>
</div>
