<div class="panel panel-info" id="editor">
    <div class="panel-heading">
        <h4>Wiadomości Chemiczne do pobrania</h4>
    </div>
    <div class="panel-body">
        <ul>
            <li><a href="http://wiad.chem.uni.wroc.pl/files/WCh_11-12-2017_DBC.pdf" target="_blank">Zeszyty 9-10/2017</a></li>
            <li><a href="http://wiad.chem.uni.wroc.pl/files/WCh_9-10-2017_DBC3.pdf" target="_blank">Zeszyty 9-10/2017</a></li>
            <li><a href="http://wiad.chem.uni.wroc.pl/files/WCh_7-8-2017_DBC.pdf" target="_blank">Zeszyty 7-8/2017</a></li>
            <li><a href="http://wiad.chem.uni.wroc.pl/files/WCh_5-6-2017_DBC.pdf" target="_blank">Zeszyty 5-6/2017</a></li>
            <li><a href="http://wiad.chem.uni.wroc.pl/files/WCh_3-4-2017_DBC.pdf" target="_blank">Zeszyty 3-4/2017</a></li>
            <li><a href="http://wiad.chem.uni.wroc.pl/files/WCh_1_2_2017_DBC.pdf" target="_blank">Zeszyty 1-2/2017</a></li>
            <li><a href="http://wiad.chem.uni.wroc.pl/files/WCh_11-12-2016_DBC.pdf" target="_blank">Zeszyty 11-12/2016</a></li>
            <li><a href="http://wiad.chem.uni.wroc.pl/files/WCh_9-10-2016_DBC.pdf" target="_blank">Zeszyty 9-10/2016</a></li>
            <li><a href="http://wiad.chem.uni.wroc.pl/files/WCh_7-8-2016_DBC.pdf" target="_blank">Zeszyty 7-8/2016</a></li>
            <li><a href="http://wiad.chem.uni.wroc.pl/files/WCh_5-6-2016_DBC.pdf" target="_blank">Zeszyty 5-6/2016</a></li>
            <li><a href="http://wiad.chem.uni.wroc.pl/files/WCh_3-4-2016_DBC.pdf" target="_blank">Zeszyty 3-4/2016</a></li>
            <li><a href="http://wiad.chem.uni.wroc.pl/files/WCh-1-2-2016_DBC.pdf" target="_blank">Zeszyty 1-2/2016</a></li>
        </ul>
    </div>
</div>
